*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
     background-color: #111010; 
    color: #fff;
    font-family: "Gill Sans", sans-serif;

}
:root{
    --color-0: #000000;
    --color-1: #161616;
    --color-2: #cdcccc;
    --color-3: #0f8dfc;
    --color-4: #3f3f3f;
    --color-5: #6d6c6c;
    --color-6: #125a99;
    --color-7: #11436f;
    --color-8: #70b8f4;
    --color-9: #20557e;
}
ul li{
    list-style: none;
}
/* STYLING FOR NAVBAR */

.menu{
    list-style: none;
}
nav{
    margin: 1.8rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    margin: 2.5rem 2rem;
    

}

 nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    /* gap: 2rem; */
    padding-left: 300px;
    padding-right: 300px;
    
 }
 .btn{
    background-color: #0c8bfd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 25px;
    font-family: "Gill Sans", sans-serif;
    border-radius: 40px;
 }
 .btn:hover{
    transform: scale(1.09);
    transition: all .5s;
    background-color: #fff;
    color: #0c8bfd;
    box-shadow: 5px 5px 5px #0c8bfd;
 }
 .menu li:hover{
    transform: scale(1.09);
    transition: all .5s;
    color: #0c8bfd;
 }
 /* STYLING FOR HERO SECTION */
 .hero{
    display: flex;
    /* justify-content: center;  */
     flex-direction: row; 
      margin-top: 30px;
      text-align: start;
      align-items: center;
      padding-left: 120px;
      /* padding-right: 200px; */
 }
 .btn1{
    background-color: #0c8bfd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 25px;
    font-family: "Gill Sans", sans-serif;
    border-radius: 40px;
 }
 .btn1:hover{
    transform: scale(1.09);
    transition: all .5s;
    background-color: #fff;
    color: #0c8bfd;
    box-shadow: 5px 5px 5px #0c8bfd;
 }
 .btn2{
    background: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #fff;
    font-size: 25px;
    border-radius: 40px;
    font-family: "Gill Sans", sans-serif;
    margin-left: 20px;
 }
 .btn2:hover{
    transform: scale(1.09);
    transition: all .5s;
    background-color: #fff;
    color: #0c8bfd;
    box-shadow: 5px 5px 5px #0c8bfd
 }
.hero-heading{
    font-size: 72px;
}
.hero-heading i{
    color: #0c8bfd;
}
.heropara{
    font-family: "Gill Sans", sans-serif;
    color: #fff ;
    font-size: 25px;
    padding-top: 30px;
    animation-duration: 9s;
    animation-name: slidein;
    animation-iteration-count: 3;
  animation-direction: alternate;
   
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.heroimg{
    display: flex;
    width: 90%;
    /* padding-left: 20px; */
    padding-right: 30px;
    position: relative;
    left: 130px;
}
.btns{
    margin-top: 50px;
}
/* STYLE FOR LOGO */
.logos{
    background-color: #1D1C1C;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    text-align: center;
    gap: 20px;
    padding: 30px 60px;
}
/* STYLE FOR SERVICES */
.services{
   
    background-color: #fff;
    padding-bottom: 90px;
}
.services-top{
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #111010;
}
.sth1{
    margin-top: 50px;
    font-size: 48px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 600;
}
.stp{
    margin-top: 30px;
    font-size: 16px;
    font-family: "Gill Sans", sans-serif;
    line-height: 150%;
    color: #758283;
    font-weight: 900;
}
.services-bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    flex-wrap: wrap;
    /* margin: 10px 20px; */
    padding: 20px 50px;
    margin-bottom: 100px;
    margin-top: 110px;
}
.sb-item{
    border: 2px solid #758283;
    border-radius: 20px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    bottom: 20px;
}
.sb-h3{
    color: #1D1C1C;
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 700;
    padding-top: 10px;
}
.sb-p1{
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    color: #758283;
    line-height: 150%;
    padding-top: 10px;
}
.sb-img{
    width: 20%;
    padding: 10px 20px; 
    align-items: center;
   position: relative;
   left: 120px;
}
.signal-item{
    background-color: #1D1C1C;
    position: relative;
    bottom: 60px;
}
.signal-item .sb-h3{
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 700;
    padding-top: 10px;
    color: #fff;
}
.sb-item:hover{
    transform: scale(1.06);
  transition: all .8s;
  color: rgb(254, 255, 255);
  background-color: #343333;
  }
  .sb-h3:hover{
    color: #fff;
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 700;
    padding-top: 10px;
}
.sb-p1:hover{
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    color: #fff;
    line-height: 150%;
    padding-top: 10px;
}
/* STYLE FOR FEATURES */
.features{
    background-color: #fff;
    margin-top: 50px;
    color: #1D1C1C;
}

.features-top .features-head{
    color: #1D1C1C;
    font-family: "Gill Sans", sans-serif;
    font-size: 64px;
    padding-left: 46px;
    line-height: 150%;

}
/* STYLE FOR FEATURES BOTTOM */
.features-bottom{
    display: flex;
    margin-top: 60px;
}
.feature-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 46px;
}

.left .left1{
    background-color: #0c8bfd;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 60px;
    padding: 5px 120px;
}
.left1 h2{
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    position: relative;
   right: 85px;
   top: 25px;
}
.left1 img{
    position: relative;
    left: 390px;
    top: -10px;
}
.left .left2{
    margin-top: 20px;
    background-color: #fff;
    color: #1D1C1C;
    padding: 20px 30px;
    border: 1px solid #1D1C1C;
    border-radius: 60px;
    padding: 5px 120px;
}
.left2 h2{
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    position: relative;
   right: 85px;
   top: 25px;
}
.left2 img{
    position: relative;
    left: 390px;
    top: -10px;
}
.feature-cards2{
    
    padding-left: 46px;
    background-color: #000000;
    border-radius: 30px;
    margin-left: 200px;
}
.feature-cards2 .right{
    
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
   
    
}
.right li{
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    
    
   
}
.bullets{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: 20px;
    right: 32px;
}
/* STYLE FOR SECTION PRICES */
.prices{
    background-color: #161616;
    padding: 60px 90px;
    
}
.prices h1{
    text-align: center;
    color: #fff;
    font-size: 64px;
    font-family: "Gill Sans", sans-serif;
    line-height: 150%;
}
.arleft img{
    height: 50%;
    width: 50%;
}
.arleft{
    display: flex;
    justify-content: center;
   align-self: flex-end;
}
.hostinghead{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.price-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    flex-wrap: wrap;
   
    padding: 20px 50px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.plan1{
    background-color: #fff;
    color: #111010;
    border-radius: 30px;
    padding-bottom: 20px;
}
.plan1 .line{
    background-color: #6d6c6c;
    height: 1px;
    width: 80%;
    border: 0;
    margin-left: 30px;
}
.plan-details{
    padding-left: 20px;
}
.plan1 h2{
    padding-top: 20px;
    padding-left: 25px;
    font-family: "Gill Sans", sans-serif;
}
.plan1 h2 span{
    color: #6d6c6c;
}
.all-price .plan-para{
    font-family: "Gill Sans", sans-serif;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.plan-details img{
    position: relative;
    top:23px
}
.plan-details p{
    position: relative;
    left: 25px;
}
.click-me1{
    background-color: #0c8bfd;
    color: #fff;
    padding: 9px 120px;
    border: none;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    border-radius: 40px;
    margin-left: 60px;
    margin-top: 12px;
}
.plan2{
    background-color: #0c8bfd;
    color: #fff;
    border-radius: 30px;
    padding-bottom: 20px;
}
.plan2 h2{
    padding-top: 20px;
    padding-left: 25px;
    font-family: "Gill Sans", sans-serif;
}
.plan2 .line2{
    background-color: #fff;
    height: 1px;
    width: 80%;
    border: 0;
    margin-left: 30px;
}
.plan2 h2 span{
    color: #fff;
}
.click-me2{
    background-color: #fff;
    color: #0c8bfd;
    padding: 9px 120px;
    border: none;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    border-radius: 40px;
    margin-left: 60px;
    margin-top: 12px;
}
/* STYLE FOR TESTIMONIALS */
.testimonials{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.testimonials .paragraph{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.testimonials .paragraph .paragraph1{
    font-size: 32px;
    font-weight: 700;
    color: #111010;
}
.testimonials .paragraph .paragraph2{
    font-weight: 600;
    color: #758283;
    line-height: 150%;
}
.testi{
    display: flex;
    /* justify-content: space-between;  */
    align-items: center;
    gap: 20px;
    overflow: auto;
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
}
.testi .testi-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 30px 30px;
    border-radius: 30px;
}
.testi .testi-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color:#FFFFFF;
    color: #000;
    padding: 30px 30px;
    border-radius: 30px;
    border: 1px solid #758283;
}
.testi .testi-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color:#000000;;
    color: #FFFFFF;
    padding: 30px 30px;
    border-radius: 30px;
    border: 1px solid var(--color-5);
}
/* .testipara{
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */

  /* STYLE FOR FOOTER */
  .footer{
    padding: 22px 2%;
    background-color: #111010;
    display: flex;
    flex-direction: column;
}
.footer-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-1 .footpara{
  text-align: center;
  color: #fff;
  padding-top:50px;
  padding-bottom:30px;
}

.footer-1 .form-1 form{
    display: flex;
    justify-content: center;
    
    gap: 10px;
}
.footer-1 .form-1 {
    background-color: #242B2E;
    padding: 30px 90px;
    border-radius: 30px;
    margin-top: 30px;
}
.footer-1 .form-1 form input{
   border-radius: 100vw;
   background-color: #111010;
   border: 0;
   padding: 1.2% 2%;
}
.footer-1 .form-1 form .button{
    background-color: #0f8dfc;
    text-align: center;
    color: #fff;
 }
.footer-2{
    padding-top: 60px;
    padding-bottom: 20px;
}
.footer-2 .line1, .footer-2 .line2{
width: 100%;
height: 1px;
background-color: #fff;
}
.footer-2 .links{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
color: #FFFFFF;
padding: 40px 20px;
padding-left: 40px;
margin-top: 20px;
margin-bottom: 20px;
}
.footer-2 .links ul{
list-style: none;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.footer-2 .links ul li a{
text-decoration: none;
color: #fff;
font-size: 0.8rem;
}
.footer-3{
display: flex;
padding-bottom: 35px;
}
.footer-3 div{
display: flex;
}
.footer-3 div img{
width: 110px;
}
.footer h2{
color: #FFFFFF;
text-align: center;
font-size: 64px;
}
.links p{
    margin-bottom: 20px;
}
.links  li {
    padding-top: 10px;
}